
node_modules


dist
build
.next
out


.env
.env.local
.env.*.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

/pythonscript/chroma_storage/
/pythonscript/venv/
.DS_Store
Thumbs.db

.vscode/
.idea/