@import "tailwindcss";
@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-purple: {
    200: "#d9ddee",
    500:"#9492db",
    600:"#7164c0"
  }
  --color-gray:{
    100:"#eeeeef",
    200:"#e6e9ed",
    600:"#95989c"
  }
}
